html {
  box-sizing: border-box;
  font-family: 'Merriweather', serif;
  line-height: 1.5;
}

.title {
  font-weight: bold;
  display: flex;
  font-size: 1.125rem;
  color: #fff;
  background-color: #d05c2e;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.grain {
  width: 40px;
}

h1 {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

ol {
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav {
  background-color: #d05c2e;
  padding: 0;
}

li {
  background-color: #d05c2e;
  padding: .5em 0;
  border: 1px solid #a63f38;
}

a {
  text-decoration: none;
  background-color: #d05c2e;
  color: #fff;
  padding: .4em 0;
}
